# This algorithm was copied from an x86 solution to the first Project Euler problem.
# It was authored by bitRAKE.

# http://projecteuler.net/index.php?section=forum&id=14

# Specify a label named "start," and it will become the entrypoint for the program.

start:	mov one, 1000000
	xor ten, ten
	
	mov zero, 3
loop0:	add ten, zero
	add zero, 3
	cmp zero, one
	jl loop0

# A line prepended with a pound sign is commented out

	mov zero, 5
loop1:	add ten, zero
	add zero, 15
	cmp zero, one
	jl loop1

	mov zero, 10
loop2:	add ten, zero
	add zero, 15
	cmp zero, one
	jl loop2
	mov zero, ten
	pri zero